* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 24px;
  color: black;
  height: 100vh;
  text-align: center;
  font-weight: 700;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav {
  background-color: rgb(71, 71, 71);
  grid-row: 1/-1;
}
menu {
  background-color: rgb(20, 211, 245);
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}
section {
  background-color: rgb(226, 226, 226);
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  gap: 40px;
}
.email {
  height: 96px;
  background-color: rgba(128, 227, 245, 0.747);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: rgb(255, 255, 255);
}
aside {
  background-color: rgb(245, 245, 245);
}
nav,
section,
main,
aside {
  padding-top: 24px;
}
button {
  font-size: 14px;

  border: none;
  cursor: pointer;
  color: rgb(10, 10, 10);
  padding: 8px;
  font-weight: 700;
  display: inline-block;
  background-color: #fff;
}
button:last-child {
  background-color: rgb(194, 13, 13);
  margin-left: auto;
  color: #fff;
}
.btn {
  width: 14px;
  height: 14px;
}
.navb {
  height: 30px;
  stroke: #fff;
}
